<% if @events.size == 0 %>
	<label>There are no events here currently.</label>
<% else %>
	<table style="table-layout:fixed">
		<col style="width:10%"/>
		<col style="width:10%"/>
		<col style="width:20%"/>
		<col style="width:60%"/>
		<tbody>
		<% @events.each do |event| %>
			<tr>
				<td><%= image_tag event.image.url, size: "80x80" %></td>
				<td align="center" style="vertical-align:middle"><%= event.start_datetime %></td>
				<td align="center" style="vertical-align:middle">
					<%= link_to "#{event.name}", user_event_path(@user.id, event.id) %>
				</td>
				<td style="vertical-align:middle; word-wrap:break-word"><%= event.description %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% end %>
