<nav id='nav'>
	<ul class='links'>
		<li><a href='index.html'>Home</a></li>
		<% if logged_in? %>
			<li><a href=<%= "/users/#{current_user.d}" %>>My Profile</a></li>
			<li><a href='/logout' data-method='delete'>Log Out</a></li>
		<% else %>
			<li><a href='/login'>Log In</a></li>
			<li><a href='/users/new'>Sign Up</a></li>
		<% end %>
	</ul>
</nav>
