<nav id='nav'>
	<ul class='links'>
		<li><a href='/'>Home</a></li>
		<% if logged_in? %>
			<li><a href=<%= "/users/#{current_user.id}" %>>My Profile</a></li>
			<li><a href='/logout' data-method='delete'>Log Out</a></li>
		<% else %>
			<li><a href='/login'>Log In</a></li>
			<li><a href='/users/new'>Sign Up</a></li>
		<% end %>
		<hr/>
		<li><a href='/users'>Artists</a></li>
		<li><a href='/sounds'>Sounds</a></li>
		<li><a href='/playlists'>Playlists</a></li>
		<li><a href='#'>News</a></li>
		<li><a href='/events'>Calendar</a></li>
	</ul>
</nav>
<!-- Scripts for Menu Animation -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
